#root {}

html {
  box-sizing: border-box;

  body {
    margin: 0;
    overflow-y: scroll;
  }

  font-family: "Mitr",
  sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 400;
  }

  button,
  input {
    font-family: "Mitr", sans-serif;
  }


}

.page {
  display: flex;
  flex-direction: column;
}

/* GLOBAL */
.page-center {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.circle-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: none;
  display: flex;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.circle-button:hover {
  background-color: #d3d3d3;
}

.peel-button {
  padding: 0.6em 1.2em;
  /* 1em เท่ากับ 1 font size */
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Mitr", sans-serif;
}

.peel-button:hover {
  background-color: #d3d3d3;
}


.line-wrap {
  width: 100%;
  background-color: #f4f4f7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  .line-item {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 4px;
    margin: 4px;
    border-radius: 5px;

    &:hover {
      background-color: #ffffff;
      cursor: pointer;
    }
  }

  .line-item.selected {
    background-color: #ffffff;
  }
}

.mybutton {
  background-color: #0056b3;
  border-radius: 50px;
  padding: 15px 20px;
  font-size: 1.1rem;
  color: white;
  border: none;
}

/* MY BUTTON */
.mybtn {
  color: white;
  border-radius: 8px;
  border: none;
  background-color: orange;
  padding: 0.4rem 1rem;
  width: fit-content;
  transition: background-color 0.5s ease;
}

.mybtn:hover {
  cursor: pointer;
  background-color: darkgoldenrod;
}

.btn-peel {
  border-radius: 50px;
}

.btn-normal {
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: 1rem;
}

.btn-icon {
  border-radius: 50px;
}

.btn-full-width {
  width: 100%;
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-black:hover {
  background-color: #333;
}

.btn-white {
  background-color: rgb(222, 222, 222);
  color: black;

}

.btn-white:hover {
  background-color: #b5b5b5;
}

.myinput {
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 24px;
  background-color: #f8f8f8;
  /* box-shadow: 0 1px 6px rgba(32,33,36,0.28);  */
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}




/* NAVBAR */
.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  font-size: 1.5rem;
  font-weight: 700;

  .navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;

    >* {
      margin: 0;
    }
  }

  .navbar-profile {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 300;

    img {
      width: 40px;
      height: 40px;
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.nav-logo {
  font-size: 1.5rem;
  color: white;
}

/* LOGIN */
.login-page {
  background: rgb(249, 186, 69);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to right, #e0eafc, #cfdef3); */
  background-color: white;
  text-align: center;
  border-radius: 20px;
  padding: 20px;

  label {
    text-align: left;
    font-weight: 300;
  }

  a {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 0.9rem;
    font-weight: 300;
  }

  a:hover {
    color: #3a6fd8;
    cursor: pointer;
  }

  gap: 50px;

  .icon-container {
    img {
      width: 300px;
    }

    text-align: start;

    h2,
    p {
      margin-left: 60px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.login-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-button {
  padding: 10px;
  background-color: #4e8cff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #3a6fd8;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background: rgb(249, 186, 69);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1001;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar h4 {
  padding: 10px 15px;
  margin-top: 15px;
  margin-bottom: 0;
}

.sidebar hr {
  color: black;
  border: 1px solid black;
  width: 90%;
}

.sidebar li {
  padding: 10px 15px;
  border-radius: 8px;
}

.sidebar li:hover {
  background-color: #000000;
  a {
    color: white;
  }
}

.sidebar a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.sidebar-header {
  display: flex;

  .header-name {
    font-weight: 500;
  }
}

/* CONTENT */
.content {
  padding: 0 5%;
  display: flex;
}

/* DASHBOARD */
.dashboard-container {
  width: 100%;
}

.dashboard-package-container {
  background-color: rgb(249, 186, 69);
  border-radius: 8px;
  height: 150px;
  padding: 15px 40px;

  .package-title {
    color: rgb(77, 44, 6);

    p {
      margin: 0;
      font-size: 1.1rem;
    }

    h1 {
      font-size: 2.2rem;
      margin: 0;
    }
  }

  img {
    width: 110px;
  }
}

.flex-between-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: #0056b3;
  }
}

.modal-box {
  background-color: white;
  padding: 5px 20px;
  border-radius: 8px;
  text-align: center;
}


/* PACKAGE */
.package-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.package-card {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #f8f8f8;
  transition: transform 0.2s ease;
}

.package-card:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}


.package-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.package-info {
  flex: 1;
  margin-left: 20px;
  font-size: 14px;
  color: #333;
}

.package-info p {
  margin: 4px 0;
}

.package-info h2,
.package-info h3 {
  margin: 4px 0;
}

.package-action {
  display: flex;
  align-items: center;
}

.qr-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.qr-button:hover {
  background-color: #0056b3;
}

/* DORM NAVBAR */
.dorm-content {
  width: 100%;
}

.dorm-navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;

  .dorm-name {
    flex: 1;
    margin: 0;

    h2 {
      margin: 0;
    }
  }

  .nav-link {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    width: 70%;
    justify-content: right;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}

.nav-link::-webkit-scrollbar {
  height: 6px;
}

.nav-link::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.page-content {
  p {
    margin: 0;
  }
}

.page-content.tenant-page {
  text-align: center;

}

.peel-tab {
  border: none;
  border-radius: 50px;
  background-color: #f3f3f3;
  padding: 4px 8px;
  min-width: fit-content;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  margin: 2px 0;
}

.peel-active {
  background-color: black;
  color: white;
}

/* DORM CARD*/
.dorm-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 50px;
  gap: 15px;
  flex-wrap: wrap;
}

.dorm-card {
  align-items: center;
  background: #f2f2f2;
  border-radius: 8px;
  flex: 0 0 calc(20% - 13px);
}

.dorm-image {
  height: 200px;
}

.dorm-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.dorm-info {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
}

.dorm-action {
  display: flex;
  align-items: center;
}

.go-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.go-button:hover {
  background-color: #1e7e34;
}


/* TAB SELECTION */
.tab {
  width: 100%;
  display: flex;
}

/* DORM CREATE */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.form-title {
  font-size: 1.5rem;
  margin-bottom: 16px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 5px;

  input {
    width: 98%;
    box-sizing: border-box;
  }

  img {
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 12px;
  }
}

.form-group.img-wrap {
  position: relative;
  max-width: 70vw;
}

.img-wrap button {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 16px;
  cursor: pointer;
}

label {
  font-weight: 500;
  margin-bottom: 4px;
}

.form-input {
  padding: 8px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-button {
  padding: 10px;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}


/* DORM DETAIL */
.dorm-detail {
  flex: 1;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: space-between;

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
  }
}

.dorm-info-text {}

/* USER MANAGEMENT */
.user-card {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 15px 20px;
  transition: transform 0.2s ease;
  margin-bottom: 8px;
}

.user-info {
  flex: 1;
}


/* JOIN DORM */
.black-square {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #d8d8d8;
}

/* MODAL */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 100vw;
  width: 40%;
  box-sizing: border-box;
  max-height: 90vh;
  overflow-y: auto;

  .edit-image {
    display: flex;
    position: relative;

    img {
      width: 100%;
    }

    .delete-pic {
      position: absolute;
      right: 0;
    }
  }
}

.modal-content input,
.modal-content select {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  box-sizing: border-box;
}

.modal-content input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

.modal-actions {
  display: flex;
  gap: 10px;
}

.modal-actions button {
  padding: 8px 30px;
  flex: 1;
}

.modal-content label {
  display: block;
  text-align: left;
}

/* SCANNER PACKAGE */
.scanner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  color: white;
}

.scanner-overlay button {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.scanner-overlay video {
  object-fit: cover;
}

/* SCANNER */
.scan-backdrop {
  background-color: rgb(0, 0, 0);
  min-height: 100%;
  width: 100%;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1002;
  box-sizing: border-box;
  overflow: auto;
  /* animation: slideUp 0.4s ease; */
  color: white;
  scrollbar-gutter: stable both-edges;
}

.no-scan {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  flex-direction: column;
  font-size: 3rem;

  p {
    font-size: 1rem;
    padding: 10px;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.go-back-button {
  font-size: 1rem;
  position: absolute;
  left: 25px;
  top: 25px;
  background: none;
  border: none;
  color: #0056b3;
  cursor: pointer;
}

#qr-reader {
  margin-top: 80px;
  width: calc(50%);
}

.scan-button-row {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;

  .picture-scan:hover {
    background-color: darkgoldenrod;
  }
}


.manual-input-row {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  max-width: 320px;
  margin-bottom: 5px;
}

.manual-input-row input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* ADD PACKAGE */
.add-package-form {
  p {
    margin: 5px;
  }
}

.edit-track {
  font-size: 1.1rem;
  color: #0056b3;
  margin-left: 20px;
}

input[type="text"] {
  box-sizing: border-box;
}

/* DELIVER PACKAGE */
.deliver-header {
  width: 100%;
  text-align: center;

  h3 {
    font-size: 1.9rem;
  }

  >* {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.package-card.selected {
  border: 2px solid #007bff;
  background-color: #f0f8ff;
  /* box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); */
}

/* DORM JOIN PAGE */
.dorm-join-page {
  width: 100%;
  position: relative;
  min-height: 400px;
  text-align: center;
  display: flex;
  justify-content: center;

  .dorm-join-page-form {
    min-width: 350px;
  }
}

/* SEARCH PACKAGE */
.search-package-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  .search-group {
    flex: 1;
  }

  .input-group {
    max-width: 180px;
  }
}

/* SAME PACKAGE BUTTON */
.same-package-button {
  display: flex;
  gap: 10px;
  justify-content: center;

  .mybtn {
    box-sizing: border-box;
    height: fit-content;
  }
}

/* LAPTOP */
@media only screen and (max-width: 1440px) {}

/* TABLET */
@media only screen and (max-width: 1024px) {

  .login-page {
    align-items: start;
  }

  .login-container {
    flex-direction: column;
    max-width: 100%;
    background-color: transparent;
    gap: 0;
    /* box-sizing: border-box; */
    padding: 40px 0 0 0;

    .icon-container {
      text-align: center;
      font-weight: 500;

      img {
        width: 30%;
      }


      h2,
      p {
        font-size: 1rem;
        margin-left: 10px;
      }
    }

    .login-form {
      background-color: transparent;
      padding-top: 0;
      padding: 0;

      input {
        font-size: 16px;
      }
    }
  }

  .dorm-name {
    text-align: center;
  }

  .dorm-navbar {
    flex-direction: column;

    .nav-link {
      width: 100%;
      justify-content: start;
      flex-wrap: nowrap;
      overflow-x: auto;
    }
  }

  .dorm-detail {

    flex-direction: column;

    img {
      align-self: center;
    }
  }

  .dorm-info-text {
    text-align: center;
  }

  .dorm-card {
    flex: 0 0 calc(33% - 13px);
  }

  #qr-reader {
    margin-top: 80px;
    width: calc(90%);
  }

  .modal-content {
    width: 50%;
  }

  .qr-content {
    text-align: center;
  }

}

/* PHONE */
@media only screen and (max-width: 768px) {
  .page-content {
    text-align: center;
  }

  .btn-normal {
    width: 90%;
  }

  .dorm-card {
    flex: 0 0 100%;
  }

  .search-package-container {
    flex-direction: column;

    .search-group {
      width: 100%;
    }

    .input-group {
      max-width: unset;
      width: 100%;
    }
  }

  .modal-content {
    width: 90%;
    position: absolute;
    top: 20px;
  }

  .same-package-button {
    flex-direction: column-reverse;
    align-items: center;

    .mybtn.btn-black {
      width: 100%;
      max-width: 200px;
    }

    .mybtn.btn-white {
      background-color: transparent;
    }
  }
}

@media only screen and (max-width: 512px) {
  .dashboard-package-container {
    padding: 10px 20px;

    .mybtn {
      padding: 2px 5px;
    }
  }

  .dorm-join-page-form {
    min-width: unset !important;
    margin-top: 50px;
  }

  .package-card {
    flex-direction: column;

    .package-image img {
      width: 50vw;
      height: auto;
    }
  }

  .room-edit-button .mybtn {
    padding: 8px 10px;
  }

  .modal-actions button {
    padding: 8px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .dashboard-package-container {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .scan-button-row {

    /* flex-direction: column; */
    .mybtn {
      /* width: 100%;
      box-sizing: border-box; */
      font-size: 0.8rem;
    }
  }
}